@model MailWarehouse.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["UserDetailsTitle"];
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Localizer["UserViewModel"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["FirstName"]
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            @Localizer["LastName"]
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            @Localizer["Email"]
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>
