@model IEnumerable<MailWarehouse.ViewModels.UserViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["UserIndexTitle"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" style="text-align: center;" class="btn btn-primary">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["FirstName"]</th>
            <th>@Localizer["LastName"]</th>
            <th>@Localizer["Email"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">@Localizer["NoUsers"]</td>
            </tr>
        }
    </tbody>
</table>